# {{ ansible_managed }}
[Unit]
Description=LXMF Propagation Node
After=reticulum.service
Requires=reticulum.service

[Service]
Type=simple
ExecStart=/usr/local/bin/lxmd --config /var/lib/lxmd --rnsconfig /var/lib/reticulum
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
