# {{ ansible_managed }}
[Unit]
Description=RNode Device Manager
After=network.target
PartOf=lora-mesh.target

[Service]
Type=simple
ExecStartPre=/usr/local/bin/sx1262-reset.sh
ExecStart=/usr/bin/sleep infinity
Restart=always
RestartSec=5

[Install]
WantedBy=lora-mesh.target
