# {{ ansible_managed }}
# EU868 Channel Plan for ChirpStack Concentratord

[[channels]]
frequency = 868100000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 868300000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 868500000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 867100000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 867300000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 867500000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 867700000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]

[[channels]]
frequency = 867900000
bandwidth = 125000
spreading_factors = [7, 8, 9, 10, 11, 12]
