# {{ ansible_managed }}
# ChirpStack Gateway Bridge configuration

[general]
log_level = 4

[backend]
type = "concentratord"

  [backend.concentratord]
  event_url = "ipc:///tmp/concentratord_event"
  command_url = "ipc:///tmp/concentratord_command"

[integration]
marshaler = "protobuf"

  [integration.mqtt]
  event_topic_template = "eu868/gateway/{{ '{{' }} .GatewayID {{ '}}' }}/event/{{ '{{' }} .EventType {{ '}}' }}"
  command_topic_template = "eu868/gateway/{{ '{{' }} .GatewayID {{ '}}' }}/command/#"

    [integration.mqtt.auth]
    type = "generic"

      [integration.mqtt.auth.generic]
      server = "tcp://127.0.0.1:1883"
